header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    padding: 1rem;
}

.pageTitle {
    color: white;
    text-align: center;
    letter-spacing: 0.5rem;
    font-size: 3rem;
    font-family: 'Poppins';
}

.btnWrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
    gap: 0 2rem;

    width: fit-content;

    >button {
        display: flex;
        align-items: center;
        gap: 1rem;

        font-size: 1rem;
        padding: 0.5rem 1rem;
        border: none;
        border-radius: 50em;

        background-color: white;

        transition: box-shadow 100ms ease-in-out;
    }

    >button:hover {
        filter: brightness(1.2);
        box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.502);

        cursor: pointer;
    }
}

.bookWrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.5rem;

    margin: 2rem auto;
    padding: 2rem;

    max-width: 60%;

    background-color: white;
    border-radius: 0.5rem;
}

