* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    color: white;
    /* background-image: linear-gradient(to bottom , #000000, #434343); */
    background-color: #252525;
    height: 100vh;
}